@page "/"

@using System.Runtime.Serialization
@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@using TyzenR.Taskman.Entity
@using TyzenR.Taskman.Managers

@inject NavigationManager navigationManager;
@inject IAppInfo appInfo;

@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<table>
    <tr>
        <td>
            <b>Welcome to Taskman! </b>
        </td>
    </tr>
</table>

@code {
    private IEnumerable<TaskEntity> list;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            
        }
    }
}