@inject IHttpContextAccessor _httpContextAccessor;
@inject IOptions<AppSettings> appSettings;

@{
    var User = _httpContextAccessor.HttpContext?.User;
}

@if (User != null && User.Identity.IsAuthenticated)
{
    var settingUrl = $"{appSettings.Value.AccountUrl}/user";

    <span class="navbar-text text-dark my-0 mx-2"><a href="@settingUrl">@User.Identity.Name</a></span>
    <span>&nbsp;|</span>
    <a class="z-index-3 mx-2" href="/Logout" target="_top" Match="NavLinkMatch.All">
        Sign Out<span class="oi oi-power-standby mx-1" area-hidden="true"> </span>
    </a>
}
