@page "/task/{action}/{id?}"

@using TyzenR.Publisher.Shared
@using TyzenR.Taskman.Entity
@using TyzenR.Taskman.Managers

@inject ITaskManager manager
@inject IAppInfo appInfo
@inject NavigationManager navigation

<h3>@action Task</h3>

@if (showConfirmation)
{
    <div class="alert alert-success">
        Saved successfully!
    </div>
}

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">
        @ErrorMessage
    </div>
}

<EditForm Model="@item" OnValidSubmit="@Save">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row m-1">
        <label class="col-sm-2 " for="Title">Title:</label>
        <div class="col-sm-10">
            <InputText required id="Title" @bind-Value="item.Title" class="form-control" />
        </div>
    </div>

    <div class="form-group row m-1">
        <label class="col-sm-2 " for="Description">Description:</label>
        <div class="col-sm-10">
            <InputTextArea rows="10" required id="Description" @bind-Value="item.Description" class="form-control" />
        </div>
    </div>

    <div class="form-group row m-1">
        <label class="col-sm-2" for="Hours">Hours:</label>
        <div class="col-sm-4">
            <InputNumber id="Hours" @bind-Value="item.Hours" required class="form-control" />
        </div>

        <label class="col-sm-2" for="Points">Points:</label>
        <div class="col-sm-4">
            <InputNumber id="Points" @bind-Value="item.Points" required class="form-control" />
        </div>
    </div>

    <div class="form-group row m-1">
        <button type="submit" disabled="@saving" class="col-sm-2 btn btn-primary">
            @(saving ? "loading ..." : "Save")
        </button>

        @if (action == "Edit")
        {
            if (item.Status == TaskStatusEnum.InProgress)
            {
                <button type="button" class="col-sm-2 btn btn-primary">
                    Mark as Complete
                </button>
            }
            else if (item.Status == TaskStatusEnum.Completed)
            {
                <button type="button" class="col-sm-2 btn btn-primary">
                    Mark as InProgress
                </button>
            }
        }
    </div>
</EditForm>

@code {
    [Parameter]
    public string action { get; set; }

    [Parameter]
    public string id { get; set; }

    public TaskEntity item = new TaskEntity();
    private bool showConfirmation = false;
    private bool saving = false;
    private string ErrorMessage = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (action == "Add")
            {
                item = new TaskEntity();
            }
            else
            {
                try
                {
                    if (!string.IsNullOrEmpty(id))
                    {
                        item = await manager.GetByIdAsync(Guid.Parse(id));
                    }
                }
                catch (Exception ex)
                {
                    await SharedUtility.SendEmailToModertorAsync("Taskman.TaskEdit.OnAfterRenderAsync.Exception", ex.ToString());
                    ErrorMessage = "An error has occurred!";
                }
            }
            StateHasChanged();
        }
    }

    private async Task Save()
    {
        saving = true;
        ErrorMessage = "";

        item.Title = item.Title.Trim();
        item.Description = item.Description.Trim();

        try
        {
            if (string.IsNullOrEmpty(item.Title))
            {
                ErrorMessage = "Title is required!";
            }
            else if (string.IsNullOrEmpty(item.Description))
            {
                ErrorMessage = "Description is required!";
            }

            else // If valid
            {
                item.UpdatedBy = appInfo.CurrentUserId;
                item.UpdatedOn = DateTime.Now;
                item.UpdatedIP = appInfo.CurrentUserIPAddress;

                if (action == "Add")
                {
                    item.CreatedBy = appInfo.CurrentUserId;
                    item.AssignedTo = appInfo.CurrentUserId;
                    item.Status = TaskStatusEnum.InProgress;

                    await manager.InsertAsync(item);
                }
                else
                {
                    await manager.UpdateAsync(item);
                }

                navigation.NavigateTo("/");
            }
        }
        catch (Exception ex)
        {
            await SharedUtility.SendEmailToModertorAsync("Taskman.TaskEdit.Save", ex.ToString());
            ErrorMessage = "An error has occurred!";

        }
        saving = false;
    }
}
